{% extends 'base.html' %}
{% load static %}
{% block title %}Home {% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}

	<body class="preload">

		
		<main>
			<!-- PAGE INFO -->
			<section class="page-info set-bg" data-bg="images/page-info-bg-4.jpg">
				<div class="section-header">
					<h1 class="text-white">Blog Masonry</h1>
					<span>~ The things you want to find ~</span>
				</div>
			</section>

			<section class="section-primary pt-150 pb-120 blog-masonry">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<div class="post">
								<div class="post-thumb">
									<a href="blog-single.html">
										<img src="images/post-thumb-4.jpg" alt="">
									</a>
									<div class="post-date">
										<div class="inner">
											<span class="date">28</span>
											<span class="month">June</span>
										</div>
									</div>
								</div>
								<div class="post-body has-border">
									<h5>
										<a href="blog-single.html">
											On the other hand
										</a>
									</h5>
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis prae-sentium voluptatum deleniti atque.</p>
									<a href="blog-single.html" class="au-btn__readmore">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="post">
								<div class="post-thumb">
									<a href="blog-single.html">
										<img src="images/post-thumb-17.jpg" alt="">
									</a>
									<div class="post-date">
										<div class="inner">
											<span class="date">25</span>
											<span class="month">June</span>
										</div>
									</div>
								</div>
								<div class="post-body has-border">
									<h5>
										<a href="blog-single.html">Contrary to popular</a>
									</h5>
									<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat.</p>
									<a href="blog-single.html" class="au-btn__readmore">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="post">
								<div class="post-thumb">
									<a href="blog-single.html">
										<img src="images/post-thumb-6.jpg" alt="">
									</a>
									<div class="post-date">
										<div class="inner">
											<span class="date">23</span>
											<span class="month">June</span>
										</div>
									</div>
								</div>
								<div class="post-body has-border">
									<h5>
										<a href="blog-single.html">
											This book is a treatise
										</a>
									</h5>
									<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea.</p>
									<a href="blog-single.html" class="au-btn__readmore">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="post">
								<div class="post-thumb">
									<a href="blog-single.html">
										<img src="images/post-thumb-18.jpg" alt="">
									</a>
									<div class="post-date">
										<div class="inner">
											<span class="date">20</span>
											<span class="month">June</span>
										</div>
									</div>
								</div>
								<div class="post-body has-border">
									<h5>
										<a href="blog-single.html">
											Lorem ipsum dolor sit
										</a>
									</h5>
									<p>On the other hand, we denounce with righ-teous indignation and dislike men who are so beguiled and demoralized.</p>
									<a href="blog-single.html" class="au-btn__readmore">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="post">
								<div class="post-thumb">
									<a href="blog-single.html">
										<img src="images/post-thumb-19.jpg" alt="">
									</a>
									<div class="post-date">
										<div class="inner">
											<span class="date">18</span>
											<span class="month">June</span>
										</div>
									</div>
								</div>
								<div class="post-body has-border">
									<h5>
										<a href="blog-single.html">Excepteur sint occaecat</a>
									</h5>
									<p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled.</p>
									<a href="blog-single.html" class="au-btn__readmore">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="post">
								<div class="post-thumb">
									<a href="blog-single.html">
										<img src="images/post-thumb-20.jpg" alt="">
									</a>
									<div class="post-date">
										<div class="inner">
											<span class="date">12</span>
											<span class="month">June</span>
										</div>
									</div>
								</div>
								<div class="post-body has-border">
									<h5>
										<a href="blog-single.html">
											Duis aute irure dolor
										</a>
									</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'.</p>
									<a href="blog-single.html" class="au-btn__readmore">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="post">
								<div class="post-thumb">
									<a href="blog-single.html">
										<img src="images/post-thumb-21.jpg" alt="">
									</a>
									<div class="post-date">
										<div class="inner">
											<span class="date">10</span>
											<span class="month">June</span>
										</div>
									</div>
								</div>
								<div class="post-body has-border">
									<h5>
										<a href="blog-single.html">
											Sed ut perspiciatis unde
										</a>
									</h5>
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
									<a href="blog-single.html" class="au-btn__readmore">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="post">
								<div class="post-thumb">
									<a href="blog-single.html">
										<img src="images/post-thumb-22.jpg" alt="">
									</a>
									<div class="post-date">
										<div class="inner">
											<span class="date">08</span>
											<span class="month">June</span>
										</div>
									</div>
								</div>
								<div class="post-body has-border">
									<h5>
										<a href="blog-single.html">Nemo enim ipsam volup</a>
									</h5>
									<p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section accompanied.</p>
									<a href="blog-single.html" class="au-btn__readmore">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="post">
								<div class="post-thumb">
									<a href="blog-single.html">
										<img src="images/post-thumb-23.jpg" alt="">
									</a>
									<div class="post-date">
										<div class="inner">
											<span class="date">07</span>
											<span class="month">June</span>
										</div>
									</div>
								</div>
								<div class="post-body has-border">
									<h5>
										<a href="blog-single.html">
											Neque porro quisquam 
										</a>
									</h5>
									<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
									<a href="blog-single.html" class="au-btn__readmore">Read More</a>
								</div>
							</div>
						</div>
					</div>	
					<div class="btn-holder">
						<a href="#" class="au-btn round has-bg au-btn--hover short">Load more</a>
					</div>								
				</div>
			</section>
		</main>

{% endblock %}
{% block javascript %}

{% endblock %}