{% extends 'base.html' %}
{% load static %}
{% block title %}Home {% endblock %}
{% block stylesheet %}{% endblock %}
<!--cart for Desktop-->
    {% block cartNumber %}{{ itemCount.no_of_item}}{% endblock %}
{% block cartItem %}
{% for i in cart_item|slice:5 %}
    <li class="woocommerce-mini-cart-item mini_cart_item clearfix">
        <a href="{% url "add_to_cart_Delete" fid=i.food_id.id %}" class="remove remove_from_cart_button" aria-label="Remove this item">
            <span class="lnr lnr-cross-circle"></span>
        </a>
        <a href="{% url "shop_single" id=i.food_id.id %}" class="image-holder">
            <img src="{{i.food_id.image.url}}" width="40" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="">
            <span class="product-name">{{i.food_id.name}}</span>
        </a>
        <span class="quantity">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">৳</span>{{i.food_id.price}}
            </span>
            x{{ i.qty }}
        </span>
    </li>
{% endfor %}
{% endblock %}
{% block cartTotal %}{{ totalBill }}{% endblock %}
<!--cart for Mobile-->
{% block cartNumberMob %}{% endblock %}
{% block cartItemMob %}
    <li class="woocommerce-mini-cart-item mini_cart_item clearfix">
        <a href="#" class="remove remove_from_cart_button" aria-label="Remove this item">
            <span class="lnr lnr-cross-circle"></span>
        </a>
        <a href="#" class="image-holder">
            <img src="{% static 'images/widget-cart-thumb-1.jpg' %}" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="">
            <span class="product-name">Best Brownies</span>
        </a>
        <span class="quantity">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">৳</span>18
            </span>
            x1
        </span>
    </li>
{% endblock %}
{% block cartTotalMob %}{% endblock %}
{% block content %}

	<body>

		<main>
			<!-- PAGE INFO -->
			<section class="page-info set-bg" data-bg="{% static 'images/page-info-bg-4.jpg' %}">
				<div class="section-header">
					<h1 class="text-white">Blog Single</h1>
					<span>~ The things you want to find ~</span>
				</div>
			</section>
			
			<!-- BLOG STANDARD -->
			<section class="section-primary pt-150 pb-120 blog-standard">
				<div class="container">
					<div class="row">
						<div class="col-md-9">
							<div class="blog-single">
								<div class="post">
									<div class="post-thumb">
										<img src="{%static 'images/blog-standard-1.jpg"'%} alt="">
										<div class="post-date">
											<div class="inner">
												<span class="date">20</span>
												<span class="month">June</span>
											</div>
										</div>
									</div>
									<div class="post-body">
										<h4>
											Various versions have
										</h4>
										<div class="post-meta">
											<div class="post-author">
												<a href="#" class="thumb">
													<img src="{%static 'images/author-avatar-1.png'%}" alt="">
												</a>
												By
												<a href="#" class="name">Andrea Silva</a>
											</div>
											<div class="tagcloud">
												<a href="#">Dresserts</a>
												<a href="#">Cooking</a>
												<a href="#">Food</a>
											</div>
										</div>
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis volup-tas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
										<p class="quote">
											<i class="fas fa-quote-left"></i>
											These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. 
										</p>
										<div class="group-image">
											<h6>Duis aute irure dolor in reprehenderit in voluptate velit.</h6>
											<div class="grid">
												<div class="image-holder">
													<img src="{%static 'images/blog-single-1.jpg'%}" alt="">
												</div>
												<div class="image-holder">
													<img src="{%static 'images/blog-single-2.jpg'%}" alt="">
												</div>
												<div class="image-holder">
													<img src="{%static 'images/blog-single-3.jpg'%}" alt="">
												</div>
												<div class="image-holder">
													<img src="{%static 'images/blog-single-4.jpg'%}" alt="">
												</div>
											</div>
										</div>
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will</p>
										<div class="bottom">
											<div class="share">
												<span>Share:</span>
												<div class="social">
													<a href="#">
														<i class="zmdi zmdi-twitter"></i>
													</a>
													<a href="#">
														<i class="zmdi zmdi-facebook-box"></i>
													</a>
													<a href="#">
														<i class="zmdi zmdi-linkedin"></i>
													</a>
													<a href="#">
														<i class="zmdi zmdi-instagram"></i>
													</a>
												</div>
											</div>
											<a href="#" class="comment-count">
												<span>3</span>
												Coments
											</a>
										</div>
										<div class="author-board">
											<div class="inner">
												<a href="#">
													<img src="{%static 'images/author-board.png'%}" alt="">
												</a>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam</p>
												<h6>
													<a href="#">Kathy Larson</a>
												</h6>
											</div>
										</div>
										<div class="post-navigation">
											<div class="left navigation">
												<a href="#" class="arrow">
													<span class="lnr lnr-chevron-left"></span>
												</a>
												<div class="text">
													<h6>
														<a href="#">The wise man therefore</a>
													</h6>
													<span>Previous post</span>
												</div>
											</div>
											<div class="right navigation">
												<div class="text">
													<h6>
														<a href="#">The wise man therefore</a>
													</h6>
													<span>Next post</span>
												</div>
												<a href="#" class="arrow">
													<span class="lnr lnr-chevron-right"></span>
												</a>
											</div>
										</div>
										<div class="comments-area" id="comments">
											<h5 class="comments-title">Comments</h5>
											<div class="comments-group">
												<div class="comments-item">
													<a href="#" class="thumb">
														<img src="{%static 'images/user-1.png'%}" alt="">
													</a>
													<div class="comments-content">
														<div class="heading">
															<h6>
																<a href="#">Amber Reyes</a>
															</h6>
															<div class="comments-time">March 28, 2018 at 9:12 am</div>
														</div>
														<div class="body">
															<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual</p>
															<a href="#" class="reply">
																<i class="zmdi zmdi-mail-reply-all"></i>
																Reply
															</a>
														</div>
													</div>
												</div>
												<!-- COMMENT LV2 -->
												<div class="comments-group">
													<div class="comments-item">
														<a href="#" class="thumb">
															<img src="{%static 'images/user-2.png'%}" alt="">
														</a>
														<div class="comments-content">
															<div class="heading">
																<h6>
																	<a href="#">Zachary Myers</a>
																</h6>
																<div class="comments-time">March 28, 2018 at 9:12 am</div>
															</div>
															<div class="body">
																<p>The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words.</p>
																<a href="#" class="reply">
																	<i class="zmdi zmdi-mail-reply-all"></i>
																	Reply
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="comments-group">
												<div class="comments-item">
													<a href="#" class="thumb">
														<img src="{%static 'images/user-3.png'%}" alt="">
													</a>
													<div class="comments-content">
														<div class="heading">
															<h6>
																<a href="#">Jeffrey Stephens</a>
															</h6>
															<div class="comments-time">March 28, 2018 at 9:12 am</div>
														</div>
														<div class="body">
															<p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure.</p>
															<a href="#" class="reply">
																<i class="zmdi zmdi-mail-reply-all"></i>
																Reply
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="comments-respond">
											<h5>Post a Comments</h5>
											<form method="get" class="comments-form">
												<div class="form-holder">
													<textarea class="form-control" placeholder="Your Message"></textarea>
												</div>
												<div class="form-holder">
													<input type="text" class="form-control input-placeholder" placeholder="Your Name">
												</div>
												<div class="form-holder">
													<input type="text" class="form-control input-placeholder" placeholder="Your Email">
												</div>
												<button class="au-btn round au-btn--hover has-bg">Submit</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="sidebar">
								<!-- PERSON -->
								<div class="widgets widget_person">
									<div class="inner">
										<img src="{%static 'images/widget-person.png'%}" alt="">
										<div class="widget-title">
											<h6>Bryan Bennett</h6>
											<span>Master Chef</span>
										</div>
										<img src="{%static 'images/signature-3.png'%}" alt="">
									</div>
								</div>
								<!-- CATEGORIES -->
								<div class="widgets widget_categories">
									<div class="widget-title">
										<h5>Categories</h5>
									</div>
									<ul>
										<li>
											<a href="#">Seafood (<span>2</span>)</a>
										</li>
										<li>
											<a href="#">Coffee (<span>5</span>)</a>
										</li>
										<li>
											<a href="#">Restaurant (<span>18</span>)</a>
										</li>
										<li>
											<a href="#">Cupcake (<span>22</span>)</a>
										</li>
										<li>
											<a href="#">Lunch (<span>19</span>)</a>
										</li>
									</ul>
								</div>
								<!-- LATEST POST -->
								<div class="widgets widget_recent_entries">
									<div class="widget-title">
										<h5>Latest post</h5>
									</div>
									<div class="latest-post">
										<div class="latest-post__item">
											<a href="#" class="thumb">
												<img src="{%static 'images/latest-post-thumb-1.png'%}" alt="">
											</a>
											<div class="heading">
												<h6>
													<a href="#">There many variations</a>
												</h6>
												<span>July 23, 2018</span>
											</div>
										</div>
									</div>
								</div>
								<!-- INSTAGRAM -->
								<div class="widgets widget_instagram">
									<div class="widget-title">
										<h5>Follow instagram</h5>
									</div>
									<div class="row">
										<div class="col-4 col-md-6 col-lg-4 col-holder">
											<a href="#">
												<img src="{%static 'images/instagram-small-1.jpg'%}" alt="">
											</a>
										</div>
									</div>
								</div>
								<!-- TAG CLOUD -->
								<div class="widgets widget_tag_cloud">
									<div class="widget-title">
										<h5>Tag Cloud</h5>
									</div>
									<div class="tagcloud">
										<a href="#">Natural</a>
										<a href="#">Fruits</a>
										<a href="#">Dried</a>
										<a href="#">Food fresh</a>
										<a href="#">Natural</a>
										<a href="#">Heathy</a>
									</div>
								</div>
								<!-- BANNER -->
								<div class="widgets widget_banner">
									<a href="#">
										<img src="{%static 'images/widget-banner.jpg'%}" alt="">
									</a>
								</div>
								<!-- SEARCH -->
								<div class="widgets widget_search">
									<form method="get" class="search-form">
										<input class="form-control" type="text" name="s" id="s" placeholder="Search">
										<button class="search-icon">
											<span class="lnr lnr-magnifier"></span>
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

{% endblock %}
{% block javascript %}

{% endblock %}