{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}Home {% endblock %}
{% block stylesheet %}{% endblock %}


{% block content %}

	<body>

		<main>
			<!-- PAGE BREADCRUMB -->
			<section class="page-breadcrumb">
				<div class="container">
					<div class="row justify-content-between align-content-center">
						<div class="col-md-auto">
							<h3>CheckOut</h3>
						</div>
						<div class="col-md-auto">
							<ul class="au-breadcrumb">
								<li>
									<a href="{% url 'index' %}">Home</a>
								</li>
								<li>
									<a href="shop-cart.html">My Account</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			
			<!-- SHOPPING CHECKOUT -->
			<section class="checkout-page section-primary pt-120">
				<div class="container">
					<div class="woocommerce">
						<div class="woocommerce-info-wrapper">
							<div id="accordion">

								<div class="woocommerce-info">
									<img src="{%static 'images/have-a-coupon.png'%}" alt="">
									Have a coupon?
									<a href="#" data-toggle="collapse" data-target="#collapseTwo" id="headingTwo"> Click here to enter your code</a>
								    <!--Error Notification start-->
                                        {% if messages %}
                                        <div class="messages">
                                            {% for message in messages %}
                                            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <!--Error Notification End-->
                                </div>
								<div id="collapseTwo" class="collapse" data-parent="#accordion">
									<form class="checkout_coupon" method="POST" action="#">
                                        {% csrf_token %}
										<p class="form-row form-row-first">
											<input type="text" name="coupon_code" id="coupon_code" class="form-control" placeholder="Coupon code" value="">
										</p>
										<p class="form-row form-row-last">
											<input type="submit" class="button au-btn has-bg round" name="apply_coupon" value="Apply coupon">
										</p>
									</form>

								</div>
							</div>
						</div>

						<form method="get" class="checkout woocommerce-checkout">
							<div class="row">
								<div class="col-md-6">
									<div class="woocommerce-billing-fields">
										<h5>Billing Details</h5>
										<div class="woocommerce-billing-fields__field-wrapper">
											<div class="row">
												<div class="col-md-6">
													<p class="form-row form-row-first validate-required woocommerce-invalid woocommerce-invalid-required-field" id="billing_first_name_field">
														<label for="billing_first_name">First Name 
															<span  class="required" title="required">*</span>
														</label>
														<input class="form-control" type="text" name="billing_first_name" value="{{ customer.name.first_name }}" id="billing_first_name">
													</p>
												</div>
												<div class="col-md-6">
													<p class="form-row form-row-last validate-required" id="billing_last_name_field">
														<label for="billing_last_name">Last Name 
															<span  class="required" title="required">*</span>
														</label>
														<input class="form-control" type="text" name="billing_last_name" value="{{ customer.name.last_name }}" id="billing_last_name">
													</p>
												</div>
											</div>
											<p class="form-row form-row-first validate-required validate-phone" id="billing_phone_field" data-priority="100">
														<label for="billing_phone" class="">Phone
															<span class="required" title="required">*</span>
														</label>
														<input type="tel" class="form-control" name="billing_phone" id="billing_phone" placeholder="" value="{{ customer.phn }}" autocomplete="tel">
                                            </p>
											<p class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated" id="billing_country_field">
												<label for="billing_country">Area
													<span class="required" title="required">*</span>
												</label>
												<select class="form-control country_to_state country_select select2-hidden-accessible" id="billing_country" name="billing_country" aria-hidden="true" tabindex="-1" autocomplete="country">
													{% for a in area_list %}
                                                    <option value="{{ a.area_name }}">{{a.area_name}}</option>
                                                    {% endfor %}
												</select>
													
											</p>
											<p class="form-row form-row-wide address-field validate-required" id="billing_address_1_field" data-priority="50">
												<label for="billing_address_1" class="">Address
													<span class="required" title="required">*</span>
												</label>
												<input type="text" class="form-control" name="billing_address_1" id="billing_address_1" placeholder="Street Address" value="{{ customer.location }}" autocomplete="address-line1">
											</p>




											<div class="woocommerce-additional-fields">
												<h5>Additional information</h5>
												<div class="woocommerce-additional-fields__field-wrapper">
													<p class="form-row notes" id="order_comments_field" data-priority="">
														<label for="order_comments" class="">Order notes</label>
														<textarea name="order_comments" class="form-control" id="order_comments" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
													</p>						
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="woocommerce-checkout-review-order-wrap">
										<h5 id="order_review_heading">Your order</h5>

										<div id="order_review" class="woocommerce-checkout-review-order">
											<table class="shop_table woocommerce-checkout-review-order-table">
											    <tbody>
                                                {% for i in cart_item %}
											        <tr class="cart_item">
											            <td class="product-name">
											                <img src="{{i.food_id.image.url}}" width="80" alt="">
											                <div class="review-wrap">
											                	<span class="rv-titel">{{i.food_id.name}}</span>
															 	<span class="product-quantity">x{{i.qty}}</span>
															</div>
											            </td>
											            <td class="product-total">
															<span class="woocommerce-Price-amount amount">
																<span class="woocommerce-Price-currencySymbol">৳</span>{% widthratio i.food_id.price 1 i.qty %}
															</span>                
														</td>
											    	</tr>
                                                {% endfor %}
											    </tbody>
										   	</table>
										   	<div class="cart-total">
											    <div class="cart-subtotal">
										        	<p>
										        		<span class="title">Subtotal</span>
										        		<span class="woocommerce-Price-amount amount">
											        		<span class="woocommerce-Price-currencySymbol">৳</span>{{totalBill}}
												        </span>
										        	</p>
											    </div>
											    <div class="order-total">
											        <p>
											        	<span class="title">Total</span>
											        	<span class="woocommerce-Price-amount amount">
										        			<span class="woocommerce-Price-currencySymbol">৳</span>102
										        		</span>
											        </p>
											    </div>
										   	</div>

										   	<div id="payment" class="woocommerce-checkout-payment">
												<ul class="wc_payment_methods payment_methods methods" id="accordion-1">
													<li class="wc_payment_method payment_method_cheque">
														<label for="payment_method_cheque"  data-toggle="collapse" data-target="#collapseOne-1" id="headingOne-1">
															<input id="payment_method_cheque" type="radio" class="input-radio" name="payment_method" value="cheque" data-order_button_text="" checked>
															Check payments
															<span class="checkmark"></span>
														</label>
														<div id="collapseOne-1" class="collapse show" data-parent="#accordion-1">
															<div class="payment_box payment_method_cheque">
																<p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
															</div>
														</div>
													</li>
													<li class="wc_payment_method payment_method_cod">
														<div class="paypal">
															<label for="payment_method_cod"  data-toggle="collapse" data-target="#collapseTwo-1" id="headingTwo-1">
																<input id="payment_method_cod" type="radio" class="input-radio" name="payment_method" value="cod" data-order_button_text="">
																Paypal
																<span class="checkmark"></span>
															</label>
															<div class="payment_box payment_method_cod">
																<img src="{%static 'images/paypal.png'%}" alt="">
																<a href="#">What is paypal?</a>
															</div>
														</div>
														<div id="collapseTwo-1" class="collapse" data-parent="#accordion-1">
															<p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
														</div>
													</li>
												</ul>
												<div class="form-row place-order">
													<input type="submit" class="button alt au-btn round has-bg" name="woocommerce_checkout_place_order" id="place_order" value="Poceed to paypal" data-value="Place order">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>

       				</div>
				</div>
			</section>
		</main>

{% endblock %}
{% block javascript %}

{% endblock %}