{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}Home {% endblock %}
{% block stylesheet %}{% endblock %}


{% block content %}

	<body>

		<main>
			<!-- PAGE BREADCRUMB -->
			<section class="page-breadcrumb">
				<div class="container">
					<div class="row justify-content-between align-content-center">
						<div class="col-md-auto">
							<h3>CheckOut</h3>
						</div>
						<div class="col-md-auto">
							<ul class="au-breadcrumb">
								<li>
									<a href="{% url 'index' %}">Home</a>
								</li>
								<li>
									<a href="shop-cart.html">My Account</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			
			<!-- SHOPPING CHECKOUT -->
			<section class="checkout-page section-primary pt-120">
				<div class="container">
					<div class="woocommerce">
						<div class="woocommerce-info-wrapper">
							<div id="accordion">

								<div id="collapseTwo" class="collapse" data-parent="#accordion">
									<form class="checkout_coupon" method="POST" action="#">
                                        {% csrf_token %}
										<p class="form-row form-row-first">
											{{ form.as_p }}
										</p>
										<p class="form-row form-row-last">
											<input type="submit" class="button au-btn has-bg round" name="apply_coupon" value="Apply coupon">
										</p>
									</form>

								</div>
							</div>
						</div>

						<form method="get" class="checkout woocommerce-checkout">
							<div class="row">
								<div class="col-md-6">
									<div class="woocommerce-billing-fields">
										<h5>Billing Details</h5>
										<div class="woocommerce-billing-fields__field-wrapper">
											<p class="form-row form-row-first validate-required validate-phone" id="billing_phone_field" data-priority="100">
														<label for="billing_phone" class=""><b>Phone:</b> {{ customer.phn }}
														</label>
                                            </p>
											<p class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated" id="billing_country_field">
												<label for="billing_country"><b>Area:</b> {{ customer.area_id.area_name }}
												</label>
													
											</p>
											<p class="form-row form-row-wide address-field validate-required" id="billing_address_1_field" data-priority="50">
												<label for="billing_address_1" class=""><b>Address:</b> {{ customer.location }}
												</label>
                                            </p>
                                            <div class="bottom">
                                                <a href="{% url 'customerRegUpdate' %}" class=" au-btn go-shopping round has-bg au-btn--hover">Change</a>
                                            </div>

										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="woocommerce-checkout-review-order-wrap">
										<h5 id="order_review_heading">Your order</h5>

										<div id="order_review" class="woocommerce-checkout-review-order">
											<table class="shop_table woocommerce-checkout-review-order-table">
											    <tbody>
                                                {% for i in cart_item %}
											        <tr class="cart_item">
											            <td class="product-name">
											                <img src="{{i.food_id.image.url}}" width="80" alt="">
											                <div class="review-wrap">
											                	<span class="rv-titel">{{i.food_id.name}}</span>
															 	<span class="product-quantity">x{{i.qty}}</span>
															</div>
											            </td>
											            <td class="product-total">
															<span class="woocommerce-Price-amount amount">
																<span class="woocommerce-Price-currencySymbol">৳</span>{% widthratio i.food_id.price 1 i.qty %}
															</span>                
														</td>
											    	</tr>
                                                {% endfor %}
											    </tbody>
										   	</table>
										   	<div class="cart-total">
											    <div class="cart-subtotal">
										        	<p>
										        		<span class="title">Subtotal</span>
										        		<span class="woocommerce-Price-amount amount">
											        		<span class="woocommerce-Price-currencySymbol">৳</span>{{totalBill}}
												        </span>
										        	</p>
											    </div>
											    <div class="order-total">
											        <p>
											        	<span class="title">Total</span>
											        	<span class="woocommerce-Price-amount amount">
										        			<span class="woocommerce-Price-currencySymbol">৳</span>{{totalBill}}
										        		</span>
											        </p>
											    </div>
										   	</div>

										   	<div id="payment" class="woocommerce-checkout-payment">
												<ul class="wc_payment_methods payment_methods methods" id="accordion-1">
													<li class="wc_payment_method payment_method_cheque">
														<label for="payment_method_cheque"  data-toggle="collapse" data-target="#collapseOne-1" id="headingOne-1">
															<input id="payment_method_cheque" type="radio" class="input-radio" name="payment_method" value="cheque" data-order_button_text="" checked>
															Cash On Delivery
															<span class="checkmark"></span>
														</label>

													</li>
													<li class="wc_payment_method payment_method_cod">
														<div class="paypal">
															<label for="payment_method_cod"  data-toggle="collapse" data-target="#collapseTwo-1" id="headingTwo-1">
																<input id="payment_method_cod" type="radio" class="input-radio" name="payment_method" value="cod" data-order_button_text="">
																Bkash
																<span class="checkmark"></span>
															</label>

														</div>
														<div id="collapseTwo-1" class="collapse" data-parent="#accordion-1">
															<p>Coming Soon</p>
														</div>
													</li>
												</ul>
												<div class="bottom">
                                                <a href="{% url 'place_order' %}" class=" au-btn go-shopping round has-bg au-btn--hover">Place Order</a>
                                            </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>

       				</div>
				</div>
			</section>
		</main>

{% endblock %}
{% block javascript %}

{% endblock %}