{% extends 'base.html' %}
{% load static %}
{% block title %}Home {% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
	
	<body>

		<main>
			<!-- PAGE BREADCRUMB -->
			<section class="page-breadcrumb">
				<div class="container">
					<div class="row justify-content-between align-content-center">
						<div class="col-md-auto">
							<h3>four columns</h3>
						</div>
						<div class="col-md-auto">
							<ul class="au-breadcrumb">
								<li>
									<a href="{% url 'index' %}">Home</a>
								</li>
								<li>
									<a href="#">Gallery</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- GALLERY -->
			<section class="section-primary pt-120 pb-120 gallery">
				<div class="container">
					<div class="row">
                        {% for p in pic %}
						    <div class="col-md">
							<a href="#" class="image-holder">
								<img src="{{p.image.url}}" alt="">
								<div class="frame"></div>
								<div class="inner">
									<div class="info">
										<h6>{{p.title}}</h6>
									</div>
								</div>
							</a>
						</div>
                            {% if forloop.counter0|divisibleby:4 and not forloop.first %}
                            <div class="w-100"></div>
                            {% endif %}
                        {% endfor %}
					</div>				
				</div>
			</section>
		</main>

{% endblock %}
{% block javascript %}

{% endblock %}