{% extends 'base.html' %}
{% load static %}
{% block title %}Home {% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
	
	<body>

		<main>
			<!-- PAGE BREADCRUMB -->
			<section class="page-breadcrumb">
				<div class="container">
					<div class="row justify-content-between align-content-center">
						<div class="col-md-auto">
							<h3>four columns</h3>
						</div>
						<div class="col-md-auto">
							<ul class="au-breadcrumb">
								<li>
									<a href="{% url 'index' %}">Home</a>
								</li>
								<li>
									<a href="#">Gallery</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- GALLERY -->
			<section class="section-primary pt-120 pb-120 gallery">
				<div class="container">
					<div class="row">
						<div class="col-md">
							<a href="#" class="image-holder">
								<img src="{%static 'images/gallery-four-columns-1.jpg'%}" alt="">
								<div class="frame"></div>
								<div class="inner">
									<div class="info">
										<h6>Nemo enim ipsam</h6>
										<span>Sea food</span>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md">
							<a href="#" class="image-holder">
								<img src="{%static 'images/gallery-four-columns-2.jpg'%}" alt="">
								<div class="frame"></div>
								<div class="inner">
									<div class="info">
										<h6>Quisque sit</h6>
										<span>Cake</span>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md">
							<a href="#" class="image-holder">
								<img src="{%static 'images/gallery-four-columns-3.jpg'%}" alt="">
								<div class="frame"></div>
								<div class="inner">
									<div class="info">
										<h6>Nulla facilisi.</h6>
										<span>Drinks</span>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md">
							<a href="#" class="image-holder">
								<img src="{%static 'images/gallery-four-columns-4.jpg'%}" alt="">
								<div class="frame"></div>
								<div class="inner">
									<div class="info">
										<h6>Vestibulum eu</h6>
										<span>Cake</span>
									</div>
								</div>
							</a>
						</div>
						<div class="w-100"></div>
					</div>				
				</div>
			</section>
		</main>

{% endblock %}
{% block javascript %}

{% endblock %}