{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}Home {% endblock %}
{% block stylesheet %}{% endblock %}

<!--cart for Desktop-->
    {% block cartNumber %}{{ itemCount.no_of_item}}{% endblock %}
{% block cartItem %}
{% for i in cart_item|slice:5 %}
    <li class="woocommerce-mini-cart-item mini_cart_item clearfix">
        <a href="{% url "add_to_cart_Delete" fid=i.food_id.id %}" class="remove remove_from_cart_button" aria-label="Remove this item">
            <span class="lnr lnr-cross-circle"></span>
        </a>
        <a href="{% url "shop_single" id=i.food_id.id %}" class="image-holder">
            <img src="{{i.food_id.image.url}}" width="40" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="">
            <span class="product-name">{{i.food_id.name}}</span>
        </a>
        <span class="quantity">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">৳</span>{{i.food_id.price}}
            </span>
            x{{ i.qty }}
        </span>
    </li>
{% endfor %}
{% endblock %}
{% block cartTotal %}{{ totalBill }}{% endblock %}
<!--cart for Mobile-->
{% block cartNumberMob %}{% endblock %}
{% block cartItemMob %}
    <li class="woocommerce-mini-cart-item mini_cart_item clearfix">
        <a href="#" class="remove remove_from_cart_button" aria-label="Remove this item">
            <span class="lnr lnr-cross-circle"></span>
        </a>
        <a href="#" class="image-holder">
            <img src="{% static 'images/widget-cart-thumb-1.jpg' %}" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="">
            <span class="product-name">Best Brownies</span>
        </a>
        <span class="quantity">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">৳</span>18
            </span>
            x1
        </span>
    </li>
{% endblock %}
{% block cartTotalMob %}{% endblock %}

{% block content %}
	
	<body>

		<main>

			<!-- SLIDE SHOW -->
			<div class="rev_slider_wrapper">
		        <div id="rev_slider_6" class="rev_slider" data-version="5.4.5">
		            <ul> 
		                <li data-transition="">
		                    <img src="{% static 'images/slideshow-12.jpg' %}" class="rev-slidebg" alt="">

							<div class="tp-caption tp-resizeme caption-2"
					        data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					        data-x="left" 
				            data-y="middle" 
			                data-fontsize="['45', '30', '30', '30', '40']" 
					        data-voffset="['72','48', '48', '-40', '-57']"
					        data-hoffset="['160','107', '87', '42', '22']"
			                data-lineheight="inherit" 
			                data-width="['auto', 'auto', 'auto', '400', '400']" 
			                data-whitespace="['nowrap', 'nowrap', 'nowrap', 'normal', 'normal']"
			                data-textAlign='center'
			                data-color="#666"
					        >
					        	Good food from celebrity chef
							</div>

							<div class="tp-caption tp-resizeme caption-3"
					        data-frames='[{"delay":2500,"split":"chars","splitdelay":0.05,"speed":1500,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					        data-x="left" 
				            data-y="middle" 
			                data-fontsize="['28', '19', '19', '19', '25']" 
					        data-voffset="['126','84', '84', '46', '74']"
					        data-hoffset="['258','172', '152', '72', '22']"
			                data-lineheight="inherit" 
			                data-width="['auto', 'auto', 'auto', '350', '415']" 
			                data-whitespace="['nowrap', 'nowrap', 'nowrap', 'normal', 'normal']"
			                data-textAlign='center'
			                data-color="#666666"
					        >
					        	Book your table to enjoy great food
							</div>

							<a href="{% url 'reservation' %}" class="tp-caption tp-resizeme caption-4 au-btn au-btn--hover round"
							data-frames='[{"delay":3800,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
							data-x="left"
							data-y="middle"
							data-voffset="['236', '157', '157', '150', '198']"
							data-hoffset="['478','300', '280', '175', '145']"
							data-fontsize="['15', '15', '15',  '15', '20']" 
							data-lineheight="inherit"
							data-width="['152', '152', '152', '152', '165']" 
							data-height="['42', '42', '42', '42', '55']" 
						    data-color="#666"
					        >
								Book now
							</a>

							<div class="tp-caption tp-resizeme caption-pointer"
					        data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
					        data-x="left" 
				            data-y="middle" 
			                data-fontsize="['25', '25', '25', '22', '22']" 
			                data-hoffset="['80','40', '20', '40', '80']"
			                data-voffset="['75','50', '50', '40', '80']"
			                data-lineheight="inherit" 
			                data-color="#cdaa7c"
			                data-visibility='["on", "on", "on", "off"]'
			                data-actions='[{
								"event": "click", 
								"action": "jumptoslide", 
								"slide": "previous", 
								"delay": "0"
							}]'
					        >
				        		<span class="lnr lnr-arrow-left"></span>
							</div>

							<div class="tp-caption tp-resizeme caption-pointer"
					        data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
					        data-x="right" 
				            data-y="middle" 
			                data-fontsize="['25', '25', '25', '22', '22']" 
			                data-hoffset="['80','40', '20', '40', '80']"
			                data-voffset="['75','50', '50', '40', '80']"
			                data-lineheight="inherit" 
			                data-color="#cdaa7c"
			                data-visibility='["on", "on", "on", "off"]'
			                data-actions='[{
								"event": "click", 
								"action": "jumptoslide", 
								"slide": "next", 
								"delay": "0"
							}]'
					        >
				        		<span class="lnr lnr-arrow-right"></span>
							</div>
		                </li>
					 	
					 	<li data-transition="">
		                    <img src="{% static 'images/slideshow-16.jpg' %}" class="rev-slidebg" alt=""
		                    >

		                    <

							<div class="tp-caption tp-resizeme caption-2"
					        data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					        data-x="left" 
				            data-y="middle" 
			                data-fontsize="['22', '20', '20', '15', '25']" 
					        data-voffset="['-27','-39', '-26', '-55', '-166']"
					        data-hoffset="['363','230', '200', '150', '150']"
			                data-lineheight="inherit" 
			                data-color="#333"
					        >
					        	since
							</div>



							<div class="tp-caption tp-resizeme caption-2"
					        data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					        data-x="left" 
				            data-y="middle" 
			                data-fontsize="['22', '20', '20', '15', '25']" 
					        data-voffset="['-27','-39', '-26', '-55', '-166']"
					        data-hoffset="['515','368', '338', '254', '288']"
			                data-lineheight="inherit" 
			                data-color="#333"
					        >
					        	2018
							</div>


							<div class="tp-caption tp-resizeme" 
					        data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					        data-x="right" 
					        data-y="bottom" 
					        data-hoffset="['88', '78', '78', '8', '-20']"
					        data-voffset="['33', '48', '73', '73', '53']"
					        data-width="['auto']"
     						data-height="['auto']"
     						data-type="image"
					        >
								<img src="{% static 'images/slideshow-23.png' %}" alt=""
								data-ww="['965', '665', '515', '515', '415']"
				        		data-hh="['647', '445.8', '345.3', '345.3', '278.2']"
								>
							</div>

		                    <div class="tp-caption tp-resizeme caption-pointer"
					        data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
					        data-x="left" 
				            data-y="middle" 
			                data-fontsize="['25', '25', '25', '22', '22']" 
			                data-hoffset="['80','40', '20', '40', '80']"
			                data-voffset="['75','50', '50', '40', '80']"
			                data-lineheight="inherit" 
			                data-color="#cdaa7c"
			                data-visibility='["on", "on", "on", "off"]'
			                data-actions='[{
								"event": "click", 
								"action": "jumptoslide", 
								"slide": "previous", 
								"delay": "0"
							}]'
					        >
				        		<span class="lnr lnr-arrow-left"></span>
							</div>

							<div class="tp-caption tp-resizeme caption-pointer"
					        data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
					        data-x="right" 
				            data-y="middle" 
			                data-fontsize="['25', '25', '25', '22', '22']" 
			                data-hoffset="['80','40', '20', '40', '80']"
			                data-voffset="['75','50', '50', '40', '80']"
			                data-lineheight="inherit" 
			                data-color="#cdaa7c"
			                data-visibility='["on", "on", "on", "off"]'
			                data-actions='[{
								"event": "click", 
								"action": "jumptoslide", 
								"slide": "next", 
								"delay": "0"
							}]'
					        >
				        		<span class="lnr lnr-arrow-right"></span>
							</div>
		                </li>
		            </ul>
		        </div>
		    </div>

		    <!-- SPECIALITIES -->
		    <section class="section-primary special-slider pb-0">
		    	<div class="container-fluid">
		    		<div class="section-header">
						<h2>Specialties of the day</h2>
						<span>~ Delicious foods ~</span>
					</div>		
					<!-- OWL-CAROUSEL -->
					<div class="owl-carousel owl-theme style" id="special-carousel-fixed">
					    {% for fo in food|slice:":8" %}
                        <div class="item">
					    	<div class="special-item item-box">
								<a href="{% url "shop_single" id=fo.id %}" class="thumb">
									<img src="{{fo.image.url}}" alt="">
								</a>
								<div class="item-info">
									<h5>
										<a href="{% url "shop_single" id=fo.id %}" class="bold-color">{{fo.name}}</a>
									</h5>
									<div class="change">
										<div class="buy">
											<div class="star-rating">
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
											</div>
											<span class="price bold-color">
												<span>৳</span>{{fo.price}}
											</span>
										</div>
										<a href="{% url "add_to_cart" fid=fo.id %}"> <button class="au-btn btn-cart round has-bd bd-999 au-btn--hover">Add to cart</button></a>
									</div>
								</div>
							</div>
					    </div>
                        {% endfor %}
					</div>
		    	</div>
		    </section>
			
			<!-- OUR MENU -->
		    <section class="section-primary pt-133 pb-0">
		    	<div class="container">
		    		<div class="section-header">
						<h2>Our Food Menu</h2>
						<span>~ See what we offer ~</span>
					</div>
					<div class="our-menu-alternate">
                     {% for c in category %}
                         {% if forloop.counter|divisibleby:2 %}
						<!-- OUR-MENU-BLOCK -->
                        <div class="our-menu-block no-flex">
							<div class="row align-items-center align-items-xl-start justify-content-between">
								<div class="col-md-6 mb-5 mb-md-0">
									<img src="{{ c.image_small.url }}" alt="">
								</div>
								<div class="col-md-6 col-lg-5 offset-lg-1 col-xl-6 offset-xl-0">
									<div class="our-menu-col right-70 no-style">
										<div class="heading">
											<h3 class="bold-color">{{ c.name }}</h3>
											<span class="icon">
												<img src="{% static 'images/soups-and-salads.png' %}" alt="">
											</span>
										</div>
										<div class="body">
                                        {% for f in food %}
                                            {% if c.id == f.category_id.id %}
											<div class="menu-item">
												<h5 class="bold-color">
													<a href="{% url "shop_single" id=f.id %}">{{ f.name}}</a>
													<span class="dots"></span>
													<span class="price">
														<span>৳</span>
														{{f.price}}
													</span>
												</h5>
                                                <p>{{ f.description|truncatechars:40 }}</p>

											</div>
                                            {% endif %}
                                        {% endfor %}

										</div>
									</div>
								</div>
							</div>
						</div>
                             {% else %}
						<!-- OUR-MENU-BLOCK -->
						<div class="our-menu-block no-flex">
							<div class="row align-items-center align-items-xl-start justify-content-between">
								<div class="col-md-6 col-lg-5 col-xl-6 order-2 order-md-1">
									<div class="our-menu-col no-style left-70">
										<div class="heading">
											<h3 class="bold-color">{{ c.name }}</h3>
											<span class="icon">
												<img src="{% static 'images/main-course.png' %}" alt="">
											</span>
										</div>
										<div class="body">
                                        {% for f in food %}
                                            {% if c.id == f.category_id.id %}
											<div class="menu-item">
												<h5 class="bold-color">
													<a href="{% url "shop_single" id=f.id %}">{{ f.name}}</a>
													<span class="dots"></span>
													<span class="price">
														<span>৳</span>
														{{f.price}}
													</span>
												</h5>
												<p>{{ f.description|truncatechars:40 }}</p>

											</div>
											{% endif %}
                                        {% endfor %}
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-6 offset-lg-1 offset-xl-0 order-1 order-md-2 mb-5 mb-md-0">
									<img src="{{ c.image_small.url }}" alt="">
								</div>
							</div>
						</div>
                         {% endif %}
                     {% endfor %}
					</div>
		    	</div>
		    </section>

		    <!-- EVENT -->
		    <section class="section-primary event pb-120">
		    	<div class="container">
		    		<div class="section-header">
						<h2>Upcoming events</h2>
						<span>~ Come and wait with us ~</span>
					</div>
					<div class="row">

                        {% for e in event %}
						<div class="col-md-6">
							<div class="event-col set-bg" data-bg="{{ e.image.url }}">
								<div class="interior">
									<div class="event-date">
										<div class="inner">
											<span class="date">{{e.date.day}}</span>
											<span class="month">{{ e.date|date:'F' }}</span>
										</div>
									</div>
									<h6>
										<a href="#">{{e.title}}</a>
									</h6>
									<div class="event-meta">
										<div class="event-time">
											<span class="lnr lnr-clock"></span>
											{{ e.start_time }} - {{ e.end_time }}
										</div>
                                        {% for a in about %}
										<div class="event-address">
											<span class="lnr lnr-map-marker"></span>
											{{a.address|truncatechars:23 }}
										</div>
                                        {% endfor %}
									</div>
									<p>{{ e.description|truncatechars:100 }}</p>
								</div>
							</div>
						</div>
                        {% endfor %}
					</div>
		    	</div>
		    </section>

		</main>

{% endblock %}
{% block javascript %}
{% endblock %}