{% extends 'base.html' %}
{% load static %}
{% block title %}Home {% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
	
	<body class="preload">

		<main>
			<!-- PAGE BREADCRUMB -->
			<section class="page-breadcrumb">
				<div class="container">
					<div class="row justify-content-between align-content-center">
						<div class="col-md-auto">
							<h3>My account</h3>
						</div>
						<div class="col-md-auto">
							<ul class="au-breadcrumb">
								<li>
									<a href="{% url 'index' %}">Home</a>
								</li>
								<li>
									<a href="shop-cart.html">My Account</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			
			<!-- SIGN IN -->
			<section class="section-primary sign-in pt-112 pb-90">
				<div class="container">
					<div class="woocommerce">
						<h4>Password Recovery</h4>
                        <!--Error Notification start-->
                                        {% if messages %}
                                        <div class="messages">
                                            {% for message in messages %}
                                            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <!--Error Notification End-->
						<form action="#" method="POST" class="woocommerce-form woocommerce-form-login login">
                            {% csrf_token %}
							<div class="form-holder">
								<label for="username">Enter your email address <span class="required">*</span></label>
								<input type="text" class="woocommerce-Input woocommerce-Input--text input-text form-control" name="user" id="user" value="">
							</div>

							<div class="form-holder last">
								<input type="submit" class="woocommerce-Button button au-btn round has-bg" name="Submit" value="Submit">
							</div>
							<p class="woocommerce-LostPassword lost_password">
								<a href="{% url 'login' %}">Sign in</a>
							</p>
						</form>
					</div>
				</div>
			</section>
		</main>

{% endblock %}
{% block javascript %}

{% endblock %}