{% extends 'base.html' %}
{% load static %}
{% block title %}Home {% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
	
	<body>

		<main>
			<!-- PAGE INFO -->
			<section class="page-info set-bg" data-bg="{% static 'images/page-info-bg-3.jpg' %}">
				<div class="section-header">
					<h1 class="text-white">Our menu</h1>
					<span>~ See what we offe ~</span>
				</div>
			</section>

            {% for c in category %}
                {% if not forloop.first %}
			<!-- Category Image -->
			<section class="menu-block-bg set-bg" data-bg="{{c.image_cover.url}}">
				<div class="section-header">
					<h2 class="text-white">{{ c.name }}</h2>
				</div>
			</section>
                {% endif %}
			<section class="section-primary menu-page pb-120">
				<div class="container">
                    {% if forloop.first %}
                    <div class="section-header">
						<h2>{{ c.name }}</h2>
					</div>
                    {% endif %}
					<div class="row">
                        {% for f in food %}
                            {% if c.id == f.category_id.id %}
                                {% if forloop.counter0|divisibleby:2 %}
                                    <div class="col-md-6 menu-holder left">
                                        <a href="{% url "shop_single" id=f.id %}" class="menu-thumb">
                                            <img src="{{ f.image.url}}" width="120" alt="">
                                        </a>
                                        <div class="menu-item">
                                            <h5 class="bold-color">
                                                <a href="{% url "shop_single" id=f.id %}">{{f.name}}</a>
                                                <span class="dots"></span>
                                                <span class="price">
                                                    <span>৳</span>
                                                    {{f.price}}
                                                </span>
                                            </h5>
                                            <p>{{ f.description|truncatechars:40 }}</p>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-md-6 menu-holder right">
                                        <a href="{% url "shop_single" id=f.id %}" class="menu-thumb">
                                            <img src="{{ f.image.url}}"width="120" alt="">
                                        </a>
                                        <div class="menu-item">
                                            <h5 class="bold-color">
                                                <a href="{% url "shop_single" id=f.id %}">{{f.name}}</a>
                                                <span class="dots"></span>
                                                <span class="price">
                                                    <span>৳</span>
                                                    {{f.price}}
                                                </span>
                                            </h5>
                                            <p>{{ f.description|truncatechars:40 }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
					</div>	
				</div>
			</section>
            {% endfor %}
		</main>

{% endblock %}
{% block javascript %}

{% endblock %}