{% extends 'base.html' %}
{% load static %}
{% block title %}Home {% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
	
	<body class="preload">

		<main>
			<!-- PAGE BREADCRUMB -->
			<section class="page-breadcrumb">
				<div class="container">
					<div class="row justify-content-between align-content-center">
						<div class="col-md-auto">
							<h3>My account</h3>
						</div>
						<div class="col-md-auto">
							<ul class="au-breadcrumb">
								<li>
									<a href="{% url 'index' %}">Home</a>
								</li>
								<li>
									<a href="shop-cart.html">My Account</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			
			<!-- SIGN IN -->
			<section class="section-primary sign-in pt-112 pb-90">
				<div class="container">
					<div style="margin-left: 25%" class="woocommerce col-md-6">
						<h4>Congratulations! Successfully Ordered</h4>

					</div>
				</div>
			</section>
		</main>

{% endblock %}
{% block javascript %}

{% endblock %}