{% extends 'base.html' %}
{% load static %}
{% block title %}Home {% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}

	<body>

		<main>
			<!-- PAGE INFO -->
			<section class="page-info set-bg" data-bg="{% static 'images/page-info-bg-2.jpg' %}">
				<div class="section-header">
					<h1 class="text-white">Reservatoin</h1>
					<span>~ For the best location ~</span>
				</div>
			</section>

			<!-- FORM -->
			<section class="section-primary section-form pb-120 pt-140">
				<div class="container">
					<div class="section-header">
						<h2>Book a table</h2>
						<span>~ Check out our place ~</span>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
					</div>
					<form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Submit</button>
						<div class="form-inner">

							<div class="form-col">
								<div class="form-holder">
                                	<input type="text" name="person" id="person" class="form-control style" placeholder="People">
                                </div>
							</div>
							<div class="form-col">
                                <div class="form-holder">
                                	<input type="text" name="date" id="date" class="form-control datepicker-here style" data-language='en' data-date-format="dd - mm - yyyy" placeholder="Date">
                                    <span class="lnr lnr-calendar-full big primary-color"></span>
                                </div>
							</div>
							<div class="form-col">
                                <div class="form-holder">
                                	<input type="text" name="time" id="time" class="form-control time-picker style" placeholder="Time">
                                    <span class="lnr lnr-clock big primary-color"></span>
                                </div>
							</div>
							<div class="form-col">
                                <div class="form-holder">
                                	<input type="text" name="name" id="name" class="form-control style" placeholder="Name">
                                </div>
							</div>
							<div class="form-col">
                                <div class="form-holder">
                                	<input type="text" name="phone" id="phone" class="form-control style" placeholder="Phone">
                                </div>
							</div>
							<div class="form-col">
                                <div class="form-holder">
                                	<input type="text" name="email" id="email" class="form-control style" placeholder="Email">
                                </div>
							</div>
						</div>
						<div class="btn-holder">
							<button class="au-btn round au-btn--hover has-bg">Book now</button>
						</div>
					</form>			
				</div>
			</section>

		</main>

{% endblock %}
{% block javascript %}

{% endblock %}