{% extends 'base.html' %}
{% load static %}
{% block title %}Home {% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}

	<body>

		<main>
			<!-- PAGE INFO -->
			<section class="page-info set-bg" data-bg="{% static 'images/page-info-bg-2.jpg' %}">
				<div class="section-header">
					<h1 class="text-white">Reservatoin</h1>
					<span>~ For the best location ~</span>
				</div>
			</section>

			<!-- FORM -->
			<section class="section-primary section-form pb-120 pt-140">
				<div class="container">
					<div class="section-header">
						<h2>Book a table</h2>
						<span>~ Check out our place ~</span>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
					</div>
					<form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Submit</button>

					</form>			
				</div>
			</section>

		</main>

{% endblock %}
{% block javascript %}

{% endblock %}