{% extends 'base.html' %}
{% load static %}
{% block title %}Home {% endblock %}
{% block stylesheet %}{% endblock %}
<!--cart for Desktop-->
    {% block cartNumber %}{{ itemCount.no_of_item}}{% endblock %}
{% block cartItem %}
{% for i in cart_item|slice:5 %}
    <li class="woocommerce-mini-cart-item mini_cart_item clearfix">
        <a href="{% url "add_to_cart_Delete" fid=i.food_id.id %}" class="remove remove_from_cart_button" aria-label="Remove this item">
            <span class="lnr lnr-cross-circle"></span>
        </a>
        <a href="{% url "shop_single" id=i.food_id.id %}" class="image-holder">
            <img src="{{i.food_id.image.url}}" width="40" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="">
            <span class="product-name">{{i.food_id.name}}</span>
        </a>
        <span class="quantity">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">৳</span>{{i.food_id.price}}
            </span>
            x{{ i.qty }}
        </span>
    </li>
{% endfor %}
{% endblock %}
{% block cartTotal %}{{ totalBill }}{% endblock %}
<!--cart for Mobile-->
{% block cartNumberMob %}{% endblock %}
{% block cartItemMob %}
    <li class="woocommerce-mini-cart-item mini_cart_item clearfix">
        <a href="#" class="remove remove_from_cart_button" aria-label="Remove this item">
            <span class="lnr lnr-cross-circle"></span>
        </a>
        <a href="#" class="image-holder">
            <img src="{% static 'images/widget-cart-thumb-1.jpg' %}" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="">
            <span class="product-name">Best Brownies</span>
        </a>
        <span class="quantity">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">৳</span>18
            </span>
            x1
        </span>
    </li>
{% endblock %}
{% block cartTotalMob %}{% endblock %}
{% block content %}

	<body>

		<main>
			
			<!-- SHOP LIST -->
			<section class="section-primary pt-150 pb-113 shop-list">
				<div class="container">
					<div class="row">
						<div class="col-md-9">
							<div class="sorting">
								<form method="get" class="woocommerce-ordering">
									<p class="woocommerce-result-count">

									</p>
									<div class="form-holder">
										<select name="orderby" class="orderby form-control">
											<option value="popularity">Sort by popularity</option>
											<option value="rating">Sort by average rating</option>
											<option value="date">Sort by newness</option>
											<option value="price">Sort by price: low to high</option>
											<option value="price-desc">Sort by price: high to low</option>
										</select>
										<span class="lnr lnr-chevron-down"></span>
									</div>
								</form>
							</div>
							<div class="row products">
                            {% for f in food|slice:":18" %}
								<div class="col-md-6 col-lg-4">
									<div class="item">
										<div class="thumb">
											<a href="{% url "shop_single" id=f.id %}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
												<img src="{{f.image.url}}" alt="">
											</a>
											<a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
										</div>
										<div class="info">
											<h5 class="woocommerce-loop-product__title">
												<a href="{% url "shop_single" id=f.id %}">{{f.name}}</a>
											</h5>
											<div class="star-rating">
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star-outline"></i>
											</div>
											<span class="price">
												<span class="woocommerce-Price-amount amount">
													<span class="woocommerce-Price-currencySymbol">৳</span>{{f.price}}
												</span>
											</span>
										</div>
									</div>
								</div>
                            {% endfor %}
							</div>

							<div class="woocommerce-pagination">
								<ul class="page-numbers">
									<li>
										<a href="#" class="page-numbers prev">
											<span class="lnr lnr-arrow-left"></span>
										</a>
									</li>
									<li>
										<span class="page-numbers current">1</span>
									</li>
									<li>
										<a href="#" class="page-numbers inactive">
											2
										</a>
									</li>
									<li>
										<a href="#" class="page-numbers inactive">
											3
										</a>
									</li>
									<li>
										<a href="#" class="page-numbers next">
											<span class="lnr lnr-arrow-right"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div class="sidebar">
								<!-- SEARCH -->
								<div class="widgets widget_search">
									<form method="GET" class="search-form">
										<input class="form-control" type="text" name="q" id="q" placeholder="Search" value="{{ request.GET.q }}">
										<button class="search-icon">
											<span class="lnr lnr-magnifier"></span>
										</button>
									</form>
								</div>
								<!-- FILTER -->
								<div class="widgets woocommerce widget_price_filter">
									<div class="widget-title">
										<h5>Filter by price</h5>
									</div>
									<form method="get">
										<div class="price_slider_wrapper">
											<div id="slider"></div>
											<div class="price_slider_amount">
												<div class="price_label">
													Price: 
													<span class="from">
														৳<span id="lower-value">9</span>
													</span> — 
													<span class="to">
														৳<span id="upper-value">190</span>
													</span>
												</div>
												<button type="submit" class="button">Filter</button>
											</div>
										</div>
									</form>
								</div>
								<!-- CATEGORIES -->
								<div class="widgets widget_categories">
									<div class="widget-title">
										<h5>Categories</h5>
									</div>
									<ul>
                                        {% for c in category %}
										<li>
											<a href="{% url "shop_category" name=c.name %}">{{c.name}}</a>
										</li>
                                        {% endfor %}
									</ul>
								</div>
								<!-- FEATURED PRODUCT -->
								<div class="widgets woocommerce widget_featured_product">
									<div class="widget-title">
										<h5>Products</h5>
									</div>
									<div class="featured-product">
										<div class="featured-product__item">
											<a href="shop-single.html" class="thumb">
												<img src="{%static 'images/featured-product-1.png'%}" alt="">
											</a>
											<div class="info">
												<h6 class="woocommerce-loop-product__title">
													<a href="shop-single.html">Spicy Garlic Lime</a>
												</h6>
												<span class="price">
													<span class="woocommerce-Price-amount amount">
														<span class="woocommerce-Price-currencySymbol">৳</span>26
													</span>
												</span>
											</div>
										</div>
									</div>
								</div>
								<!-- BANNER -->
								<div class="widgets widget_banner">
									<a href="#">
										<img src="{%static 'images/widget-banner.jpg'%}" alt="">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

{% endblock %}
{% block javascript %}

{% endblock %}