{% extends 'base.html' %}
{% load static %}
{% block title %}Home {% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}

	<body>

		<main>
			
			<!-- SHOP SINGLE -->
			<section class="section-primary pt-150 pb-113 shop-single">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images">
								<figure class="woocommerce-product-gallery__wrapper">
						    		<div class="woocommerce-product-gallery__image">
							    		<img id="zoom-image" class="attachment-shop_single size-shop_single wp-post-image" src="{{ food.image.url }}" data-zoom-image="{{ food.image.url }}" alt="{{ food.name }}" />
							    	</div>
						    	</figure>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="summary entry-summary">
								<h3 class="product_title entry-title">{{ food.name}}</h3>
								<div class="info">
									<span class="price">
										<span class="woocommerce-Price-amount amount">
											<span class="woocommerce-Price-currencySymbol">৳</span>{{food.price}}
										</span>
									</span>
									<span class="star-rating">
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star"></i>
									</span>
								</div>
								<div class="woocommerce-product-details__short-description">
								    <p>{{food.description|truncatechars:200}}</p>
								</div>
								<form class="cart" method="post" enctype="multipart/form-data">
									<div class="quantity">
										<input type="number" class="input-text qty text" step="1" min="0" name="cart[5934c1ec0cd31e12bd9084d106bc2e32][qty]" value="1" title="Qty" size="4" id="input-quantity">
										<div class="icon">
											<a href="#" class="number-button plus">+</a>
											<a href="#" class="number-button minus">-</a>
										</div>
									</div>
									<button type="submit" name="add-to-cart" value="" class="single_add_to_cart_button button alt au-btn round has-bg au-btn--hover">Add to cart</button>
								</form>
								<div class="social">
									<a href="#">
										<i class="zmdi zmdi-twitter"></i>
									</a>
									<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_url }}">
										<i class="zmdi zmdi-facebook-box"></i>
									</a>
									<a href="#">
										<i class="zmdi zmdi-linkedin"></i>
									</a>
									<a href="#">
										<i class="zmdi zmdi-instagram"></i>
									</a>
								</div>
							</div>		
						</div>
					</div>
					<!-- WOOCOMMERCE TABS -->
					<div class="woocommerce-tabs wc-tabs-wrapper">
						<div id="shop-single-tab">
							<ul class="tabs wc-tabs">
								<li class="description_tab">
									<a href="#description">Description</a>
								</li>
								<li class="additional_information_tab">
									<a href="#add-info">Additional Information</a>
								</li>
								<li class="reviews_tab">
									<a href="#review">Reviews (0)</a>
								</li>
							</ul>
							<div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="description">
                            <p>{{food.description}}</p>
                            </div>
							<div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="add-info">
								<table class="shop_attributes">
									<tbody>
										<tr>
											<th>Weight</th>
											<td class="product_weight">2kg</td>
										</tr>
										<tr>
											<th>Dimensions</th>
											<td class="product_dimensions">15 x 20 x 15 cm</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="review" class="woocommerce-Reviews">
								<div id="comments">
									<h6 class="woocommerce-noreviews">
										BE THE FIRST TO REVIEW
									</h6>
								</div>
								<div id="review_form_wrapper">
									<div id="review_form">
										<div id="respond" class="comment-respond">
											<form method="get" id="comments-form" class="comments-form">
												<p class="comment-notes">Your email address will not be published. Required fields are marked.</p>
												<div class="comment-form-rating">
													<label>Your rating</label>
													<span class="star-rating">
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
													</span>
												</div>
												<p class="comment-form-comment">
													<textarea id="comment" name="comment" class="form-control" required placeholder="Your Message"></textarea>
												</p>
												<p class="comment-form-author">
													<input id="author" name="author" type="text" value="" class="form-control" aria-required="true" required="" placeholder="Your Name">
												</p>
												<p class="comment-form-email">
													<input id="email" name="email" type="email" value="" class="form-control" aria-required="true" required="" placeholder="Your Mail">
												</p>
												<p class="form-submit">
													<input name="submit" type="submit" id="submit" class="submit au-btn round has-bg" value="Submit"> 
												</p>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- RELATED PRODUCT -->
					<div class="related products">
						<h4>Related Foods</h4>
						<div class="row">
							<div class="col-md-4 col-lg-3">
                                {% for r in related %}
								<div class="item">
									<div class="thumb">
										<a href="{% url "shop_single" id=r.id %}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
											<img src="{{r.image.url}}" alt="{{ r.name }}">
										</a>
										<a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
									</div>
									<div class="info">
										<h5 class="woocommerce-loop-product__title">
											<a href="{% url "shop_single" id=r.id %}">{{r.name}}</a>
										</h5>
										<div class="star-rating">
											<i class="zmdi zmdi-star"></i>
											<i class="zmdi zmdi-star"></i>
											<i class="zmdi zmdi-star"></i>
											<i class="zmdi zmdi-star"></i>
											<i class="zmdi zmdi-star-outline"></i>
										</div>
										<span class="price">
											<span class="woocommerce-Price-amount amount">
												<span class="woocommerce-Price-currencySymbol">৳</span>{{r.price}}
											</span>
										</span>
									</div>
								</div>
                                {% endfor %}
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

{% endblock %}
{% block javascript %}

{% endblock %}