{% extends 'base.html' %}
{% load static %}
{% block title %}Home {% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}

	<body class="preload">

		<main>
			<!-- PAGE BREADCRUMB -->
			<section class="page-breadcrumb">
				<div class="container">
					<div class="row justify-content-between align-content-center">
						<div class="col-md-auto">
							<h3>Create an account</h3>
						</div>
						<div class="col-md-auto">
							<ul class="au-breadcrumb">
								<li>
									<a href="{% url 'index' %}">Home</a>
								</li>
								<li>
									<a href="shop-cart.html">My Account</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			
			<!-- SIGN UP -->
			<section class="section-primary sign-up pt-112 pb-90">
				<div style="margin-left: 25%" class="container">

				  	<form class="col-md-6" action="" method="post">
					    {% csrf_token %}
                        {{ form.as_p }}
					    <input class="au-btn round has-bg" type="submit" name="submit" value="Sign Up"/>
                        Already have account? <h6><b><a href="{% url 'login' %}">Click here Login</a></b></h6>
				    </form>
				</div>
			</section>
		</main>

{% endblock %}
{% block javascript %}

{% endblock %}